<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Query for Mobile Wallet Adapter compatible apps -->
    <queries>
        <intent>
            <action android:name="solana.mobilewalletadapter.action.AUTHORIZE" />
        </intent>
        <intent>
            <action android:name="solana.mobilewalletadapter.action.SIGN_AND_SEND_TRANSACTIONS" />
        </intent>
        <!-- Query for Phantom wallet specifically -->
        <package android:name="app.phantom" />
        <!-- Query for other popular Solana wallets -->
        <package android:name="com.solflare.mobile" />
        <package android:name="com.glow.android" />
    </queries>

    <application
        android:name=".AverroesApplication"
        android:allowBackup="true"
        android:icon="@drawable/logo_averroes"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_averroes"
        android:supportsRtl="true"
        android:theme="@style/Theme.Averroes"
        tools:targetApi="31">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.Averroes">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest> 